In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = "latin-1")
print(df)

       Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]

60943

In [ ]:
df.groupby('Y2015')['Y2015'].sum()

Y2015
-3161.0       -3161.0
-2152.0       -2152.0
-1284.0       -1284.0
-907.0         -907.0
-887.0         -887.0
               ...
 92443.0      92443.0
 100835.0    100835.0
 110798.0    110798.0
 111663.0    111663.0
 181137.0    181137.0
Name: Y2015, Length: 4520, dtype: float64

In [ ]:
df.groupby('item')['Y2018'].sum()

KeyError: ignored

In [ ]:
df.groupby('item')['Y2015'].sum()

KeyError: ignored

In [ ]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

In [ ]:
df.groupby('Element')['Element'].count()

Element
Domestic supply quantity                  5295
Export Quantity                           4403
Fat supply quantity (g/capita/day)        5023
Feed                                      1319
Food                                      4941
Food supply (kcal/capita/day)             5014
Food supply quantity (kg/capita/yr)       4905
Import Quantity                           5139
Losses                                    2009
Other uses (non-food)                     1732
Processing                                2010
Production                                3881
Protein supply quantity (g/capita/day)    5023
Residuals                                 4655
Seed                                       762
Stock Variation                           4232
Total Population - Both sexes               45
Tourist consumption                        555
Name: Element, dtype: int64

In [ ]:
df.groupby('Area')['Area'].count()

Area
Algeria                        1313
Angola                         1424
Benin                          1285
Botswana                       1378
Burkina Faso                   1409
Cabo Verde                     1260
Cameroon                       1460
Central African Republic       1344
Chad                           1343
Comoros                          45
Congo                          1413
Côte d'Ivoire                  1467
Djibouti                       1095
Egypt                          1488
Eswatini                       1284
Ethiopia                       1447
Ethiopia PDR                     39
Gabon                          1245
Gambia                         1168
Ghana                          1354
Guinea                         1410
Guinea-Bissau                  1128
Kenya                          1560
Lesotho                        1150
Liberia                        1206
Madagascar                     1439
Malawi                         1447
Mali                           1293
Mauritania                     1195
Mauritius                      1378
Morocco                        1393
Mozambique                     1427
Namibia                        1283
Niger                          1403
Nigeria                        1474
Rwanda                         1426
Sao Tome and Principe          1177
Senegal                        1462
Seychelles                       68
Sierra Leone                   1242
South Africa                   1399
Sudan                          1316
Sudan (former)                   53
Togo                           1294
Tunisia                        1338
Uganda                         1458
United Republic of Tanzania    1419
Zambia                         1451
Zimbabwe                       1393
Name: Area, dtype: int64

In [ ]:
df.groupby('Area Code')['Area Code'].count()

Area Code
4      1313
7      1424
20     1378
32     1460
35     1260
37     1344
39     1343
45       45
46     1413
53     1285
59     1488
62       39
72     1095
74     1245
75     1168
81     1354
90     1410
107    1467
114    1560
122    1150
123    1206
129    1439
130    1447
133    1293
136    1195
137    1378
143    1393
144    1427
147    1283
158    1403
159    1474
175    1128
181    1393
184    1426
193    1177
195    1462
196      68
197    1242
202    1399
206      53
209    1284
215    1419
217    1294
222    1338
226    1458
233    1409
238    1447
251    1451
276    1316
Name: Area Code, dtype: int64

In [ ]:
df.groupby('Y2017')['Y2017'].mean()

Y2017
-1582.0       -1582.0
-1200.0       -1200.0
-1159.0       -1159.0
-865.0         -865.0
-860.0         -860.0
               ...
 96443.0      96443.0
 106400.0    106400.0
 112625.0    112625.0
 117702.0    117702.0
 190873.0    190873.0
Name: Y2017, Length: 4537, dtype: float64

In [ ]:
df.groupby('Element')[''].sum()

Element
Domestic supply quantity                  Domestic supply quantityDomestic supply quanti...
Export Quantity                           Export QuantityExport QuantityExport QuantityE...
Fat supply quantity (g/capita/day)        Fat supply quantity (g/capita/day)Fat supply q...
Feed                                      FeedFeedFeedFeedFeedFeedFeedFeedFeedFeedFeedFe...
Food                                      FoodFoodFoodFoodFoodFoodFoodFoodFoodFoodFoodFo...
Food supply (kcal/capita/day)             Food supply (kcal/capita/day)Food supply (kcal...
Food supply quantity (kg/capita/yr)       Food supply quantity (kg/capita/yr)Food supply...
Import Quantity                           Import QuantityImport QuantityImport QuantityI...
Losses                                    LossesLossesLossesLossesLossesLossesLossesLoss...
Other uses (non-food)                     Other uses (non-food)Other uses (non-food)Othe...
Processing                                ProcessingProcessingProcessingProcessingProces...
Production                                ProductionProductionProductionProductionProduc...
Protein supply quantity (g/capita/day)    Protein supply quantity (g/capita/day)Protein ...
Residuals                                 ResidualsResidualsResidualsResidualsResidualsR...
Seed                                      SeedSeedSeedSeedSeedSeedSeedSeedSeedSeedSeedSe...
Stock Variation                           Stock VariationStock VariationStock VariationS...
Total Population - Both sexes             Total Population - Both sexesTotal Population ...
Tourist consumption                       Tourist consumptionTourist consumptionTourist ...
Name: Element, dtype: object

In [ ]:
DataFrame.iloc[2]

NameError: ignored

In [ ]:
df['Area'].nunique()

49

In [ ]:
df.groupby('Y2017')['Area'].sum()

Y2017
-1582.0                       EgyptEgypt
-1200.0                       Mozambique
-1159.0                       Mozambique
-865.0       United Republic of Tanzania
-860.0       United Republic of Tanzania
                        ...
 96443.0                           Egypt
 106400.0                       Ethiopia
 112625.0                        Nigeria
 117702.0                        Nigeria
 190873.0                        Nigeria
Name: Area, Length: 4537, dtype: object

In [ ]:
df.groupby('Area')['Y2017'].sum()

Area
Algeria                         325644.27
Angola                          229159.57
Benin                           124771.22
Botswana                         22101.30
Burkina Faso                    101855.07
Cabo Verde                       14650.74
Cameroon                        232030.43
Central African Republic         29937.00
Chad                             71594.68
Comoros                             59.84
Congo                            41181.68
Côte d'Ivoire                   224599.01
Djibouti                         22729.91
Egypt                           866379.92
Eswatini                         54343.33
Ethiopia                        448683.76
Ethiopia PDR                         0.00
Gabon                            27979.64
Gambia                           23154.18
Ghana                           337599.06
Guinea                           98138.87
Guinea-Bissau                    19102.77
Kenya                           264660.66
Lesotho                          21267.96
Liberia                          29342.20
Madagascar                      131197.73
Malawi                          181098.71
Mali                            149928.33
Mauritania                      156665.46
Mauritius                        51114.83
Morocco                         388495.36
Mozambique                      161407.98
Namibia                          29874.89
Niger                           126707.58
Nigeria                        1483268.23
Rwanda                           73663.69
Sao Tome and Principe            12662.63
Senegal                          95681.15
Seychelles                         442.34
Sierra Leone                     55311.33
South Africa                    517590.54
Sudan                           239931.92
Sudan (former)                       0.00
Togo                             49841.88
Tunisia                         124167.20
Uganda                          213950.38
United Republic of Tanzania     322616.85
Zambia                          103223.77
Zimbabwe                         75919.34
Name: Y2017, dtype: float64